{% extends "header.html" %} {% block content %}
<h1>Select a logger to edit:</h1>
<div class="flexMe fsb">
  <div id="editor">
    <p class="ids">#</p>
    <h2>Select a logger to edit!</h2>
  </div>
  <table id="editTab">
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
    {% for i in range(loggers|length) %}
    <tr onclick="selector({{ i }})">
      <td>{{ loggers[i].id }}</td>
      <td>{{ loggers[i].name }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<script>
  loggers = []
  {% for i in loggers %}
  loggers.push({'id': {{i.id}}, 'name': "{{i.name}}"});
  {% endfor %}
  function selector(id){
      let rows = document.querySelectorAll('#editTab tr');
      rows.forEach(function(x) {
              x.classList.remove('active');
      });
      rows[id + 1].classList.add('active')
      editor = document.getElementById('editor');
      editor.querySelector('.ids').textContent = loggers[id].id;
      editor.querySelector('h2').textContent = loggers[id].name;
  }
</script>
{% endblock %}
