{% extends "header.html" %} {% block content %}
<div class="flexMe">
  <div id="mapLoad">Map Loading...</div>
  <div id="map"></div>
</div>
<script>
  let map, popup;
  console.log("pre-position getting");
  navigator.geolocation.getCurrentPosition(map_init);
  console.log("post position getting");
  function map_init(position) {
    console.log("start");
    let lat = position.coords.latitude;
    let long = position.coords.longitude;
    setFormLatLng(lat, long);
    map = L.map("map").setView([lat, long], 13);
    console.log("view set");
    L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
      maxZoom: 19,
      attribution:
        '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    }).addTo(map);
    console.log("tile layer");
    let marker = L.marker([lat, long]).addTo(map);
    popup = L.popup();
    map.on("click", onMapClick);
    document.getElementById("mapLoad").style.display = "none";
  }

  function onMapClick(e) {
    setFormLatLng(e.latlng.lat, e.latlng.lng);
    popup
      .setLatLng(e.latlng)
      .setContent(
        "Form coordinates set to " + e.latlng.lat + ", " + e.latlng.lng
      )
      .openOn(map);
  }

  function setFormLatLng(lat, lng) {
    document.getElementById("latitude").value = lat;
    document.getElementById("longitude").value = lng;
  }
</script>
<form action="/submit" method="POST">
  <div class="flexMe">
    <div class="inline">
      <label for="longitude" class="smallLabel" >Longitude:</label>
      <input type="number" id="longitude" name="longitude" step="any" />
    </div>
    <div class="inline">
      <label for="latitude" class="smallLabel" >Latitude:</label>
      <input type="number" id="latitude" name="latitude" step="any" />
    </div>
  </div>
  <br />
  <div class="inline">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="barren wasteland" />
  </div>
  <div class="inline">
    <label for="temp">Temperature (°C)</label>
    <input type="number" name="percentile" step="0.1" placeholder="15.2°C" />
  </div>
  <br />
  <textarea
    name="notes"
    maxlength="1000"
    placeholder="Notes (max 1000 characters)"
  ></textarea>
  <br />
  <div class="dropdown-toggle dd">Click for More Details...</div>
  <div class="dropped hidden dd">
    <label for="min">Mininmum Temperature (°C)</label>
    <input type="number" name="min" step="0.1" placeholder="12.9°C" />
    <br />
    <label for="max">Maximum Temperature (°C)</label>
    <input type="number" name="max" step="0.1" placeholder="21.3°C" />
  </div>
  <input id="submit" value="Submit" type="submit" />
</form>
{% endblock %}
