/* https://stackoverflow.com/questions/12989916/using-scss-with-flask */
:root {
  --bg: #AAAAAA;
  --fg: #666666;
  --tertiary: rgb(187, 87, 87);
}

html {
  background: var(--bg);
}

* {
  box-sizing: border-box;
}

a {
  font-weight: bold;
  text-decoration: none;
}

p a {
  color: white;
}

body {
  margin: 0px;
  background: var(--bg);
  color: var(--fg);
  height: 100%;
  width: 100%;
  min-height: 100vh;
  padding: 0 0;
  font-family: Rubik, Roboto, sans-serif;
  font-size: calc(10pt + 1vmin);
}

.hidden {
  display: none;
}

/* h1 {
  font-size: 1em;
  font-weight: 400;
  margin-top: 20px;
  line-height: 1.5;
} */

p {
  font-size: 0.75em;
  margin: 0.2em;
}

#map {
  width: min(100%, 500px);
  height: 300px;
}

#navBar {
  /* position: absolute;
  top: 0;
  left: 0; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--bg);
}

#nav {
  align-items: center;
  color: black;
  width: 100%;
}

#nav .show {
  display: flex;
}

#nav>.item {
  margin: 0px 1em;
  border: solid black 1px;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 3em;
  margin: 0.5em;
  vertical-align: middle;
  background: no-repeat 50%;
  background-size: 100% 100%;
  filter: invert(99%) sepia(31%) saturate(24%) hue-rotate(138deg) brightness(107%) contrast(100%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background:
    linear-gradient(rgba(0, 0, 0, 0) 50%, var(--bg) 100%);
}

.crate {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  margin: 0.5em auto;
  border-bottom: solid black 1px;
}

img.header {
  width: 50%;
}

#bg {
  height: min(100vh, 400px);
}

.dropdown-toggle {
  cursor: pointer;
}

.title>* {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}

.title>img {
  width: 75px;
}

#content {
  margin-left: auto;
  margin-right: auto;
  max-width: 55em;
  padding: 0 .5em;
}

#viewDiv {
  width: 100vw;
  height: calc(100vh - 4em);
}

.flexMe {
  display: flex;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.fsb{
  justify-content: space-between;
  flex-wrap: wrap;
}

#editor{
  background-color: #666666;
  border-radius: 5px;
  flex-grow: 1;
  color: white;
  margin:0.5em;
  padding: 0.5em;
  height: fit-content;
}

.active {
  background:rgb(187, 87, 87);
}

input[type=number],
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: textfield;
}

#longitude {
  margin-right: 1em;
}

#latitude, #longitude {
  background: none;
  border: none;
  margin-left: 0.2em;
  transition: .3s;
  max-width: 6em;
}

#latitude:hover, #longitude:hover, #latitude:active, #longitude:active {
  background: rgba(255, 255, 255, .6);
}

textarea {
  width: 90%;
  height: 100px;
}

label {
  font-size: 1em;
}

.smallLabel {
  font-size: 0.75em;
}

.inline {
  display: inline-block;
}

.dd{
  background-color: #666666;
  color: #eeeeee;
  font-size: medium;
  border: solid black 2px;
  padding: 0.5em;
}

.dd > input {
  background: none;
  border: solid #eeeeee 1px;
  color: #eeeeee;
  transition: .3s;
  padding: 0.25em;
}

.dd > input::placeholder{
  color: white;
}

.dd > input:hover, .dd > input:active {
  background: rgba(255, 255, 255, .6);
  color: black;
}

#editTab td {
  border: solid black 1px;
}

#editTab tr:hover {
  background:rgb(187, 87, 87);
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  background-color: var(--fg);
  color: var(--bg);
  border-color: var(--tertiary);
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  margin-top: 0.125rem;
  font-size: .8125rem;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212121;
}

#feet {
  width: 100%;
  background-color: var(--tertiary);
  color: white;
  margin-top: 10px;
}

.feet-flex {
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  width: min(100%, 55em);
}

#feet-quote {
  padding: 0;
  padding-bottom: 5px;
}

.social>img {
  height: 2rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(2deg) brightness(102%) contrast(104%);
}

@media only screen and (min-width: 992px) {
  .navbar-toggler-icon {
    display: none;
  }

  #nav {
    display: flex !important;
    width: unset;
  }

  #nav>.item {
    border: none;
  }
}